#dataAtual span {
    border-radius: 15px;
    background: rgba(1, 176, 241, 0.1);
    box-shadow: 6px -9px 44px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(100px);
  
    padding: 10px 0;
    width: 70%;
    font-weight: 500;
    font-size: 20px;
  
    text-align: center;
  }